body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#form {
    /* min-height: 500px; */
    display: flex;
    justify-content: center;
}

form {
    margin: auto;
}